.oculto {
    display: none;
}


.div1 {
    background: #B6BEFA
}

.div2 {
    background: #AAB1F0
}

.div3 {
    background: #E3E1FB;
}

.div4 {
    background: #D7D7D7;
}

.div5 {
    background: #FEE2E8;
}

.div6 {
    background: #F0F4B9;
}

.erro {
    background-color: #f2dede;
    border-radius: 10px;
    color: #FC6D49;
}
